.home{
  &-title{
    &:after{
      content: "";
      width: 100px;
      height: 2px;
      font-size: 18px;
      margin: 4px auto 20px;
      display: block;
      background-color: $primary;
    }
  }
  &-location{
    background-image: url('https://hexschool-api.s3.us-west-2.amazonaws.com/custom/PvBSCExiQ3ZdgQwZOwlIanojcdirZ7MWP47nyCm389RQsGpvyg52GYjtGyf6Y4p3qZudbylSXitl8nCSyoIBd5QDrpuUBl1N9KtKFjSZZctRJuW2GkMffRC4NHGBNrhZ.jpg');
    background-size: cover;
    background-attachment: fixed;
    .home-title{
      color: #fff;
      &:after{
        background-color: #fff;
      }
    }
    &__info{
      color: #fff;
      i.fas{
        margin-right: 5px;
      }
    }
    &__map{
      width: 100%;
      @media screen and (max-width: 767px) {
        height: 300px;
      }
    }
  }
  &-intro{
    &__section{
      &:last-child{
        margin-top: 75px;
        @media screen and (max-width: 1199px) {
          margin-top: 55px;
        }
        @media screen and (max-width: 991px) {
          margin-top: 10px;
        }
        @media screen and (max-width: 767px) {
          margin-top: 0;
        }
      }
    }
    &__con{
      max-width: 45%;
      @media screen and (max-width: 991px) {
        max-width: 50%;
      }
      @media screen and (max-width: 767px) {
        max-width: 100%;
      }
    }
    &__text{
      text-align: left;
      @media screen and (max-width: 767px) {
        margin-top: 15px;
      }
    }
  }
}