
// 前台產品 ---
.prod{
  margin: 60px auto;
  transition: all 0.5s;

  &-congratulate{
    background-color: lighten(#fdc23e,12%);
    padding: 15px;
    font-size: 0;
    &__icon,&__text{
      display: inline-block;
      vertical-align: top;
    }
    &__icon{
      font-size: 36px;
      width: 36px;
    }
    &__text{
      font-size: 20px;
      font-weight: 500;
      margin: 3px 0 0 10px;
      margin-bottom: 0;
      text-align: center;
      @media screen and (max-width: 991px) {
        margin: 3px 0 0 0px;
      }
      @media screen and (max-width: 568px) {
        font-size: 16px;
        line-height: 1.4;
      }
    }
  }

  &-filter{ // 上方分類
    font-size: 0;
    margin-top: 15px;
    margin-bottom: 0;
    text-align: center;
    @media screen and (max-width: 767px) {
      text-align: left;
    }
    &__list{
      display: inline-block;
      vertical-align: middle;
      margin-right: 10px;
      margin-top: 8px;
    }
  }

  &-card{
    position: relative;
    &:hover{
      box-shadow: 5px 5px 2px 0px rgba(0, 0, 0, 0.2);
      .prod-cart{
        bottom: 15px;
      }
    }
  }

  &-pic{ // 圖片
    position: relative;
    overflow: hidden;
  }

  &-cart{ //  購物車依循圖片
    position: absolute;
    bottom: -60px;
    right: 15px;
    width: 50px;
    height: 50px;
    border: solid 2px #fff;
    background-color: #fff;
    border-radius: 99em;
    transition: all 0.3s;
    z-index: 10;
    @media (max-width: 991px) {
      bottom: 15px;
    }
    i.fa-cart-plus{
      font-size: 22px;
      color: $primary;
      position: absolute;
      top: 50%;
      left: -3px;
      right: 0;
      transform: translateY(-50%);
      transition: all 0.3s;
    }
    &:hover{
      border: solid 2px $primary;
      background-color: $primary;
      i.fa-cart-plus{
        color: #fff;
      }
    }
  }

  &-link{ // 連到 detail
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  &-price{ // 價格
    &__special{
      font-size: 26px;
      font-weight: 500;
      color: $primary;
    }
  }

  &-detail{ // detail 樣式
    margin: 120px auto 60px;
    &__title{
      text-align: left;
      font-weight: 700;
      @media screen and (max-width: 767px) {
        margin-top: 8px;
      }
    }
    &__price{
      text-align: left;
      margin-top: 8px;
      &--discount{
        font-size: 24px;
        font-weight: 700;
        color: $primary;
      }
      &--origin{
        font-size: 14px;
        font-weight: 700;
        color: #aaa;
        margin-left: 10px;
      }
    }
    &__description{
      font-size: 16px;
      font-weight: 500;
      color: #000;
      text-align: left;
      margin: 8px 0 0;
    }

    &__label{
      width: 100%;
      text-align: left;
      margin-bottom: 0;
    }

    .btn{
      margin-left: 10px;
    }

    &__subtitle{
      font-weight: 700;
      text-align: left;
    }
    &__need{
      border-top: solid 1px #ccc;
      border-bottom: solid 1px #ccc;
      padding: 20px 0;
    }
    &__list{
      list-style: decimal;
      text-align: left;
      padding-left: 25px;
      margin-bottom: 0;
    }
    &__maybelike{
      padding-top: 25px;
    }
  }

}

// 前台產品 END ---