.accordion{
  text-align: left;
  &-item{
    &__h2{
      line-height: 1;
    }
    &__btn{
      border: none;
      margin: 0;
      padding: 0;
      background-color: transparent;
      text-align: left;
      font-size: 20px;
      font-weight: 700;
      color: $primary;
      height: 100%;
      &:focus{
        border: none;
        outline: none;
      }
    }
    &__ans{
      font-size: 16px;
      font-weight: 500;
      color: $primary;
    }
  }
}