.accordion{
  text-align: left;
  &-item{
    &__h2{
      font-size: 20px;
      font-weight: 700;
      color: $primary;
      line-height: 1.4;
    }
    &__ans{
      font-size: 16px;
      font-weight: 500;
      color: $primary;
    }
  }
}