.home{

  &-title{
    &:after{
      content: "";
      width: 100px;
      height: 2px;
      font-size: 18px;
      margin: 4px auto 20px;
      display: block;
      background-color: $primary;
    }
  }

  &-location{
    .home-title{
      color: #fff;
      &:after{
        background-color: #fff;
      }
    }
    &__info{
      color: #fff;
      i.fas{
        margin-right: 5px;
      }
    }
    &__map{
      width: 100%;
      @media screen and (max-width: 767px) {
        height: 300px;
      }
    }
  }
}